In [1]:
#import pandas module
import pandas as pd
import numpy

In [2]:
# Reading the Calendar csv file into a dataframe
calendar_df = pd.read_csv("calendar.csv")
calendar_df

         listing_id        date available   price
0            241032  2016-01-04         t  $85.00
1            241032  2016-01-05         t  $85.00
2            241032  2016-01-06         f     NaN
3            241032  2016-01-07         f     NaN
4            241032  2016-01-08         f     NaN
...             ...         ...       ...     ...
1393565    10208623  2016-12-29         f     NaN
1393566    10208623  2016-12-30         f     NaN
1393567    10208623  2016-12-31         f     NaN
1393568    10208623  2017-01-01         f     NaN
1393569    10208623  2017-01-02         f     NaN

[1393570 rows x 4 columns]

In [3]:
# Summary overview of the calendar csv file
calendar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393570 entries, 0 to 1393569
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1393570 non-null  int64
 1   date        1393570 non-null  object
 2   available   1393570 non-null  object
 3   price       934542 non-null   object
dtypes: int64(1), object(3)
memory usage: 42.5+ MB

In [4]:
# Check for null values
calendar_df.isnull().sum()

listing_id         0
date               0
available          0
price         459028
dtype: int64

In [5]:
# Percentage of missing values in each column
calendar_df.isnull().mean()

listing_id    0.00000
date          0.00000
available     0.00000
price         0.32939
dtype: float64

In [6]:
# Reading the Reviews csv file
reviews_df = pd.read_csv("reviews.csv")
reviews_df

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...
...,...,...,...,...,...,...
84844,3624990,50436321,2015-10-12,37419458,Ryan,The description and pictures of the apartment ...
84845,3624990,51024875,2015-10-17,6933252,Linda,We had an excellent stay. It was clean and com...
84846,3624990,51511988,2015-10-20,19543701,Jaime,"Gran ubicaciÃ³n, cerca de todo lo atractivo del..."
84847,3624990,52814482,2015-11-02,24445024,JÃ¸rgen,"Very good apartement, clean and well sized. Si..."
84848,9727246,56429621,2015-12-13,30860360,Stephanie,"Breanne was a great host. Check in was easy, s..."

In [7]:
# Summary overview of the reviews csv file
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84849 entries, 0 to 84848
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     84849 non-null  int64
 1   id             84849 non-null  int64
 2   date           84849 non-null  object
 3   reviewer_id    84849 non-null  int64
 4   reviewer_name  84849 non-null  object
 5   comments       84831 non-null  object
dtypes: int64(3), object(3)
memory usage: 3.9+ MB

In [8]:
#Covert the date dtype to a datetime dtype
reviews_df['date']= pd.to_datetime(reviews_df['date'])
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84849 entries, 0 to 84848
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     84849 non-null  int64
 1   id             84849 non-null  int64
 2   date           84849 non-null  datetime64[ns]
 3   reviewer_id    84849 non-null  int64
 4   reviewer_name  84849 non-null  object
 5   comments       84831 non-null  object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 3.9+ MB

In [9]:
# Check for null values
reviews_df.isnull().sum()

listing_id        0
id                0
date              0
reviewer_id       0
reviewer_name     0
comments         18
dtype: int64

In [10]:
# Percentage of missing values in each column
reviews_df.isnull().mean()

listing_id       0.000000
id               0.000000
date             0.000000
reviewer_id      0.000000
reviewer_name    0.000000
comments         0.000212
dtype: float64

In [11]:
# Drop the name column for columns we will not be utilizing for our project to answer our question
reviews_df = reviews_df.drop(['comments'], axis=1)
reviews_df.head(5)

   listing_id        id       date  reviewer_id reviewer_name
0     7202016  38917982 2015-07-19     28943674        Bianca
1     7202016  39087409 2015-07-20     32440555         Frank
2     7202016  39820030 2015-07-26     37722850           Ian
3     7202016  40813543 2015-08-02     33671805        George
4     7202016  41986501 2015-08-10     34959538          Ming

In [12]:
# Reading the listing csv file
listings_df = pd.read_csv("listings.csv")
listings_df

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,8101950,https://www.airbnb.com/rooms/8101950,20160104002432,2016-01-04,3BR Mountain View House in Seattle,Our 3BR/2BA house boasts incredible views of t...,"Our 3BR/2BA house bright, stylish, and wheelch...",Our 3BR/2BA house boasts incredible views of t...,none,We're located near lots of family fun. Woodlan...,...,8.0,f,NaN,WASHINGTON,f,strict,f,f,8,0.30
3814,8902327,https://www.airbnb.com/rooms/8902327,20160104002432,2016-01-04,Portage Bay View!-One Bedroom Apt,800 square foot 1 bedroom basement apartment w...,This space has a great view of Portage Bay wit...,800 square foot 1 bedroom basement apartment w...,none,The neighborhood is a quiet oasis that is clos...,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,1,2.00
3815,10267360,https://www.airbnb.com/rooms/10267360,20160104002432,2016-01-04,Private apartment view of Lake WA,"Very comfortable lower unit. Quiet, charming m...",NaN,"Very comfortable lower unit. Quiet, charming m...",none,NaN,...,NaN,f,NaN,WASHINGTON,f,moderate,f,f,1,NaN
3816,9604740,https://www.airbnb.com/rooms/9604740,20160104002432,2016-01-04,Amazing View with Modern Comfort!,Cozy studio condo in the heart on Madison Park...,Fully furnished unit to accommodate most needs...,Cozy studio condo in the heart on Madison Park...,none,Madison Park offers a peaceful slow pace upsca...,...,NaN,f,NaN,WASHINGTON,f,moderate,f,f,1,NaN
3817,10208623,https://www.airbnb.com/rooms/10208623,20160104002432,2016-01-04,Large Lakefront Apartment,"All hardwood floors, fireplace, 65"" TV with Xb...",NaN,"All hardwood floors, fireplace, 65"" TV with Xb...",none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN

In [13]:
# Summary overview of the reviews csv file
listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   listing_url                       3818 non-null   object
 2   scrape_id                         3818 non-null   int64
 3   last_scraped                      3818 non-null   object
 4   name                              3818 non-null   object
 5   summary                           3641 non-null   object
 6   space                             3249 non-null   object
 7   description                       3818 non-null   object
 8   experiences_offered               3818 non-null   object
 9   neighborhood_overview             2786 non-null   object
 10  notes                             2212 non-null   object
 11  transit                           2884 non-null   object
 12  thumbnail_url                     3498 non-null   object
 13  medium_url                        3498 non-null   object
 14  picture_url                       3818 non-null   object
 15  xl_picture_url                    3498 non-null   object
 16  host_id                           3818 non-null   int64
 17  host_url                          3818 non-null   object
 18  host_name                         3816 non-null   object
 19  host_since                        3816 non-null   object
 20  host_location                     3810 non-null   object
 21  host_about                        2959 non-null   object
 22  host_response_time                3295 non-null   object
 23  host_response_rate                3295 non-null   object
 24  host_acceptance_rate              3045 non-null   object
 25  host_is_superhost                 3816 non-null   object
 26  host_thumbnail_url                3816 non-null   object
 27  host_picture_url                  3816 non-null   object
 28  host_neighbourhood                3518 non-null   object
 29  host_listings_count               3816 non-null   float64
 30  host_total_listings_count         3816 non-null   float64
 31  host_verifications                3818 non-null   object
 32  host_has_profile_pic              3816 non-null   object
 33  host_identity_verified            3816 non-null   object
 34  street                            3818 non-null   object
 35  neighbourhood                     3402 non-null   object
 36  neighbourhood_cleansed            3818 non-null   object
 37  neighbourhood_group_cleansed      3818 non-null   object
 38  city                              3818 non-null   object
 39  state                             3818 non-null   object
 40  zipcode                           3811 non-null   object
 41  market                            3818 non-null   object
 42  smart_location                    3818 non-null   object
 43  country_code                      3818 non-null   object
 44  country                           3818 non-null   object
 45  latitude                          3818 non-null   float64
 46  longitude                         3818 non-null   float64
 47  is_location_exact                 3818 non-null   object
 48  property_type                     3817 non-null   object
 49  room_type                         3818 non-null   object
 50  accommodates                      3818 non-null   int64
 51  bathrooms                         3802 non-null   float64
 52  bedrooms                          3812 non-null   float64
 53  beds                              3817 non-null   float64
 54  bed_type                          3818 non-null   object
 55  amenities                         3818 non-null   object
 56  square_feet                       97 non-null     float64
 57  price                             3818 non-null   object
 58  weekly_price                      2009 non-null   object
 59  monthly_price                     1517 non-null   object
 60  security_deposit                  1866 non-null   object
 61  cleaning_fee                      2788 non-null   object
 62  guests_included                   3818 non-null   int64
 63  extra_people                      3818 non-null   object
 64  minimum_nights                    3818 non-null   int64
 65  maximum_nights                    3818 non-null   int64
 66  calendar_updated                  3818 non-null   object
 67  has_availability                  3818 non-null   object
 68  availability_30                   3818 non-null   int64
 69  availability_60                   3818 non-null   int64
 70  availability_90                   3818 non-null   int64
 71  availability_365                  3818 non-null   int64
 72  calendar_last_scraped             3818 non-null   object
 73  number_of_reviews                 3818 non-null   int64
 74  first_review                      3191 non-null   object
 75  last_review                       3191 non-null   object
 76  review_scores_rating              3171 non-null   float64
 77  review_scores_accuracy            3160 non-null   float64
 78  review_scores_cleanliness         3165 non-null   float64
 79  review_scores_checkin             3160 non-null   float64
 80  review_scores_communication       3167 non-null   float64
 81  review_scores_location            3163 non-null   float64
 82  review_scores_value               3162 non-null   float64
 83  requires_license                  3818 non-null   object
 84  license                           0 non-null      float64
 85  jurisdiction_names                3818 non-null   object
 86  instant_bookable                  3818 non-null   object
 87  cancellation_policy               3818 non-null   object
 88  require_guest_profile_picture     3818 non-null   object
 89  require_guest_phone_verification  3818 non-null   object
 90  calculated_host_listings_count    3818 non-null   int64
 91  reviews_per_month                 3191 non-null   float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB

In [14]:
# Check for null values for listings_df
listings_null_columns=listings_df.columns[listings_df.isnull().any()]
listings_df[listings_null_columns].isnull().sum()

summary                         177
space                           569
neighborhood_overview          1032
notes                          1606
transit                         934
thumbnail_url                   320
medium_url                      320
xl_picture_url                  320
host_name                         2
host_since                        2
host_location                     8
host_about                      859
host_response_time              523
host_response_rate              523
host_acceptance_rate            773
host_is_superhost                 2
host_thumbnail_url                2
host_picture_url                  2
host_neighbourhood              300
host_listings_count               2
host_total_listings_count         2
host_has_profile_pic              2
host_identity_verified            2
neighbourhood                   416
zipcode                           7
property_type                     1
bathrooms                        16
bedrooms                          6
beds                              1
square_feet                    3721
weekly_price                   1809
monthly_price                  2301
security_deposit               1952
cleaning_fee                   1030
first_review                    627
last_review                     627
review_scores_rating            647
review_scores_accuracy          658
review_scores_cleanliness       653
review_scores_checkin           658
review_scores_communication     651
review_scores_location          655
review_scores_value             656
license                        3818
reviews_per_month               627
dtype: int64

In [15]:
# Percentage of missing values in each column
listings_df[listings_null_columns].isnull().mean()

summary                        0.046359
space                          0.149031
neighborhood_overview          0.270299
notes                          0.420639
transit                        0.244631
thumbnail_url                  0.083814
medium_url                     0.083814
xl_picture_url                 0.083814
host_name                      0.000524
host_since                     0.000524
host_location                  0.002095
host_about                     0.224987
host_response_time             0.136983
host_response_rate             0.136983
host_acceptance_rate           0.202462
host_is_superhost              0.000524
host_thumbnail_url             0.000524
host_picture_url               0.000524
host_neighbourhood             0.078575
host_listings_count            0.000524
host_total_listings_count      0.000524
host_has_profile_pic           0.000524
host_identity_verified         0.000524
neighbourhood                  0.108958
zipcode                        0.001833
property_type                  0.000262
bathrooms                      0.004191
bedrooms                       0.001572
beds                           0.000262
square_feet                    0.974594
weekly_price                   0.473808
monthly_price                  0.602672
security_deposit               0.511262
cleaning_fee                   0.269775
first_review                   0.164222
last_review                    0.164222
review_scores_rating           0.169460
review_scores_accuracy         0.172342
review_scores_cleanliness      0.171032
review_scores_checkin          0.172342
review_scores_communication    0.170508
review_scores_location         0.171556
review_scores_value            0.171818
license                        1.000000
reviews_per_month              0.164222
dtype: float64

In [16]:
# Drop the name column for columns we will not be utilizing for our project to answer our question
cleaned_listings_df = listings_df.drop(['listing_url', 'scrape_id', 'last_scraped', 'summary', 'space', 'description', 'experiences_offered', 'neighborhood_overview', 'notes', 'transit', 'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url', 'host_url', 'host_thumbnail_url', 'host_picture_url', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'street', 'neighbourhood', 'neighbourhood_cleansed', 'country_code', 'is_location_exact', 'amenities', 'jurisdiction_names', 'require_guest_profile_picture', 'calculated_host_listings_count', 'license', 'calendar_last_scraped', 'square_feet', 'host_about'], axis=1)
listings_df.head(5)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [17]:
# Percentage of missing values in each column
cleaned_listings_df.isnull().mean()

id                                  0.000000
name                                0.000000
host_id                             0.000000
host_name                           0.000524
host_since                          0.000524
host_location                       0.002095
host_response_time                  0.136983
host_response_rate                  0.136983
host_acceptance_rate                0.202462
host_is_superhost                   0.000524
host_neighbourhood                  0.078575
host_listings_count                 0.000524
host_total_listings_count           0.000524
neighbourhood_group_cleansed        0.000000
city                                0.000000
state                               0.000000
zipcode                             0.001833
market                              0.000000
smart_location                      0.000000
country                             0.000000
latitude                            0.000000
longitude                           0.000000
property_type                       0.000262
room_type                           0.000000
accommodates                        0.000000
bathrooms                           0.004191
bedrooms                            0.001572
beds                                0.000262
bed_type                            0.000000
price                               0.000000
weekly_price                        0.473808
monthly_price                       0.602672
security_deposit                    0.511262
cleaning_fee                        0.269775
guests_included                     0.000000
extra_people                        0.000000
minimum_nights                      0.000000
maximum_nights                      0.000000
calendar_updated                    0.000000
has_availability                    0.000000
availability_30                     0.000000
availability_60                     0.000000
availability_90                     0.000000
availability_365                    0.000000
number_of_reviews                   0.000000
first_review                        0.164222
last_review                         0.164222
review_scores_rating                0.169460
review_scores_accuracy              0.172342
review_scores_cleanliness           0.171032
review_scores_checkin               0.172342
review_scores_communication         0.170508
review_scores_location              0.171556
review_scores_value                 0.171818
requires_license                    0.000000
instant_bookable                    0.000000
cancellation_policy                 0.000000
require_guest_phone_verification    0.000000
reviews_per_month                   0.164222
dtype: float64

In [18]:
#Covert the host_since dtype to a datetime dtype
cleaned_listings_df['host_since']= pd.to_datetime(listings_df['host_since'])

In [19]:
#Covert the first_review dtype to a datetime dtype
cleaned_listings_df['first_review']= pd.to_datetime(listings_df['first_review'])

In [20]:
#Covert the last_review dtype to a datetime dtype
cleaned_listings_df['last_review']= pd.to_datetime(listings_df['last_review'])

In [21]:
#Remove the $ in the price to convert it from a string to a float
cleaned_listings_df['price'] = listings_df['price'].replace("[$,]", "", regex=True).astype(float)

In [22]:
#Remove the $ in the price to convert it from a string to a float
cleaned_listings_df['weekly_price'] = listings_df['weekly_price'].replace("[$,]", "", regex=True).astype(float)

In [23]:
#Remove the $ in the price to convert it from a string to a float
cleaned_listings_df['monthly_price'] = listings_df['monthly_price'].replace("[$,]", "", regex=True).astype(float)

In [24]:
#Remove the $ in the price to convert it from a string to a float
cleaned_listings_df['security_deposit'] = listings_df['security_deposit'].replace("[$,]", "", regex=True).astype(float)

In [25]:
#Remove the $ in the price to convert it from a string to a float
cleaned_listings_df['cleaning_fee'] = listings_df['cleaning_fee'].replace("[$,]", "", regex=True).astype(float)

In [26]:
#Remove the $ in the price to convert it from a string to a float
cleaned_listings_df['extra_people'] = listings_df['extra_people'].replace("[$,]", "", regex=True).astype(float)

In [27]:
#Remove the % in the percentage to convert it from a string to a float
cleaned_listings_df['host_response_rate'] = listings_df['host_response_rate'].replace("[%,]", "", regex=True).astype(float)

In [28]:
#Remove the % in the percentage to convert it from a string to a float
cleaned_listings_df['host_acceptance_rate'] = listings_df['host_acceptance_rate'].replace("[%,]", "", regex=True).astype(float)

In [29]:
# Checking the dtypes once again to make sure everything converted properly
cleaned_listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 59 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   name                              3818 non-null   object
 2   host_id                           3818 non-null   int64
 3   host_name                         3816 non-null   object
 4   host_since                        3816 non-null   datetime64[ns]
 5   host_location                     3810 non-null   object
 6   host_response_time                3295 non-null   object
 7   host_response_rate                3295 non-null   float64
 8   host_acceptance_rate              3045 non-null   float64
 9   host_is_superhost                 3816 non-null   object
 10  host_neighbourhood                3518 non-null   object
 11  host_listings_count               3816 non-null   float64
 12  host_total_listings_count         3816 non-null   float64
 13  neighbourhood_group_cleansed      3818 non-null   object
 14  city                              3818 non-null   object
 15  state                             3818 non-null   object
 16  zipcode                           3811 non-null   object
 17  market                            3818 non-null   object
 18  smart_location                    3818 non-null   object
 19  country                           3818 non-null   object
 20  latitude                          3818 non-null   float64
 21  longitude                         3818 non-null   float64
 22  property_type                     3817 non-null   object
 23  room_type                         3818 non-null   object
 24  accommodates                      3818 non-null   int64
 25  bathrooms                         3802 non-null   float64
 26  bedrooms                          3812 non-null   float64
 27  beds                              3817 non-null   float64
 28  bed_type                          3818 non-null   object
 29  price                             3818 non-null   float64
 30  weekly_price                      2009 non-null   float64
 31  monthly_price                     1517 non-null   float64
 32  security_deposit                  1866 non-null   float64
 33  cleaning_fee                      2788 non-null   float64
 34  guests_included                   3818 non-null   int64
 35  extra_people                      3818 non-null   float64
 36  minimum_nights                    3818 non-null   int64
 37  maximum_nights                    3818 non-null   int64
 38  calendar_updated                  3818 non-null   object
 39  has_availability                  3818 non-null   object
 40  availability_30                   3818 non-null   int64
 41  availability_60                   3818 non-null   int64
 42  availability_90                   3818 non-null   int64
 43  availability_365                  3818 non-null   int64
 44  number_of_reviews                 3818 non-null   int64
 45  first_review                      3191 non-null   datetime64[ns]
 46  last_review                       3191 non-null   datetime64[ns]
 47  review_scores_rating              3171 non-null   float64
 48  review_scores_accuracy            3160 non-null   float64
 49  review_scores_cleanliness         3165 non-null   float64
 50  review_scores_checkin             3160 non-null   float64
 51  review_scores_communication       3167 non-null   float64
 52  review_scores_location            3163 non-null   float64
 53  review_scores_value               3162 non-null   float64
 54  requires_license                  3818 non-null   object
 55  instant_bookable                  3818 non-null   object
 56  cancellation_policy               3818 non-null   object
 57  require_guest_phone_verification  3818 non-null   object
 58  reviews_per_month                 3191 non-null   float64
dtypes: datetime64[ns](3), float64(23), int64(11), object(22)
memory usage: 1.7+ MB

In [30]:
#Fill in nulls with the mean of that column
cleaned_listings_df['host_response_rate'].fillna(value=cleaned_listings_df['host_response_rate'].mean(), inplace=True)

In [31]:
#Fill in nulls with the mean of that column
cleaned_listings_df['host_acceptance_rate'].fillna(value=cleaned_listings_df['host_acceptance_rate'].mean(), inplace=True)

In [32]:
#Fill in nulls with the mean of that column
cleaned_listings_df['host_listings_count'].fillna(value=cleaned_listings_df['host_listings_count'].mean(), inplace=True)

In [33]:
#Fill in nulls with the mean of that column
cleaned_listings_df['host_total_listings_count'].fillna(value=cleaned_listings_df['host_total_listings_count'].mean(), inplace=True)

In [34]:
#Fill in nulls with the mean of that column
cleaned_listings_df['accommodates'].fillna(value=cleaned_listings_df['accommodates'].mean(), inplace=True)

In [35]:
#Fill in nulls with the mean of that column
cleaned_listings_df['bathrooms'].fillna(value=cleaned_listings_df['bathrooms'].mean(), inplace=True)

In [36]:
#Fill in nulls with the mean of that column
cleaned_listings_df['bedrooms'].fillna(value=cleaned_listings_df['bedrooms'].mean(), inplace=True)

In [37]:
#Fill in nulls with the mean of that column
cleaned_listings_df['beds'].fillna(value=cleaned_listings_df['beds'].mean(), inplace=True)

In [38]:
#Fill in nulls with the mean of that column
cleaned_listings_df['price'].fillna(value=cleaned_listings_df['price'].mean(), inplace=True)

In [39]:
#Fill in nulls with the mean of that column
cleaned_listings_df['cleaning_fee'].fillna(value=cleaned_listings_df['cleaning_fee'].mean(), inplace=True)

In [40]:
#Fill in nulls with the mean of that column
cleaned_listings_df['guests_included'].fillna(value=cleaned_listings_df['guests_included'].mean(), inplace=True)

In [41]:
#Fill in nulls with the mean of that column
cleaned_listings_df['extra_people'].fillna(value=cleaned_listings_df['extra_people'].mean(), inplace=True)

In [42]:
#Fill in nulls with the mean of that column
cleaned_listings_df['minimum_nights'].fillna(value=cleaned_listings_df['minimum_nights'].mean(), inplace=True)

In [43]:
#Fill in nulls with the mean of that column
cleaned_listings_df['maximum_nights'].fillna(value=cleaned_listings_df['maximum_nights'].mean(), inplace=True)

In [44]:
#Fill in nulls with the mean of that column
cleaned_listings_df['availability_30'].fillna(value=cleaned_listings_df['availability_30'].mean(), inplace=True)

In [45]:
#Fill in nulls with the mean of that column
cleaned_listings_df['availability_60'].fillna(value=cleaned_listings_df['availability_60'].mean(), inplace=True)

In [46]:
#Fill in nulls with the mean of that column
cleaned_listings_df['availability_90'].fillna(value=cleaned_listings_df['availability_90'].mean(), inplace=True)

In [47]:
#Fill in nulls with the mean of that column
cleaned_listings_df['availability_365'].fillna(value=cleaned_listings_df['availability_365'].mean(), inplace=True)

In [48]:
#Fill in nulls with the mean of that column
cleaned_listings_df['review_scores_rating'].fillna(value=cleaned_listings_df['review_scores_rating'].mean(), inplace=True)

In [49]:
#Fill in nulls with the mean of that column
cleaned_listings_df['review_scores_accuracy'].fillna(value=cleaned_listings_df['review_scores_accuracy'].mean(), inplace=True)

In [50]:
#Fill in nulls with the mean of that column
cleaned_listings_df['review_scores_cleanliness'].fillna(value=cleaned_listings_df['review_scores_cleanliness'].mean(), inplace=True)

In [51]:
#Fill in nulls with the mean of that column
cleaned_listings_df['review_scores_checkin'].fillna(value=cleaned_listings_df['review_scores_checkin'].mean(), inplace=True)

In [52]:
#Fill in nulls with the mean of that column
cleaned_listings_df['review_scores_communication'].fillna(value=cleaned_listings_df['review_scores_communication'].mean(), inplace=True)

In [53]:
#Fill in nulls with the mean of that column
cleaned_listings_df['review_scores_location'].fillna(value=listings_df['review_scores_location'].mean(), inplace=True)

In [54]:
#Fill in nulls with the mean of that column
cleaned_listings_df['review_scores_value'].fillna(value=cleaned_listings_df['review_scores_value'].mean(), inplace=True)

In [55]:
#Fill in nulls with the mean of that column
cleaned_listings_df['reviews_per_month'].fillna(value=cleaned_listings_df['reviews_per_month'].mean(), inplace=True)

In [56]:
#Fill in nulls using the ffill option
cleaned_listings_df["zipcode"].fillna(method ='ffill', inplace = True)

In [57]:
#Fill in nulls using the ffill option
cleaned_listings_df["host_is_superhost"].fillna(method ='ffill', inplace = True)

In [58]:
# Summary of the null values after filling in the nulls
cleaned_listings_df.isnull().sum()

id                                     0
name                                   0
host_id                                0
host_name                              2
host_since                             2
host_location                          8
host_response_time                   523
host_response_rate                     0
host_acceptance_rate                   0
host_is_superhost                      0
host_neighbourhood                   300
host_listings_count                    0
host_total_listings_count              0
neighbourhood_group_cleansed           0
city                                   0
state                                  0
zipcode                                0
market                                 0
smart_location                         0
country                                0
latitude                               0
longitude                              0
property_type                          1
room_type                              0
accommodates                           0
bathrooms                              0
bedrooms                               0
beds                                   0
bed_type                               0
price                                  0
weekly_price                        1809
monthly_price                       2301
security_deposit                    1952
cleaning_fee                           0
guests_included                        0
extra_people                           0
minimum_nights                         0
maximum_nights                         0
calendar_updated                       0
has_availability                       0
availability_30                        0
availability_60                        0
availability_90                        0
availability_365                       0
number_of_reviews                      0
first_review                         627
last_review                          627
review_scores_rating                   0
review_scores_accuracy                 0
review_scores_cleanliness              0
review_scores_checkin                  0
review_scores_communication            0
review_scores_location                 0
review_scores_value                    0
requires_license                       0
instant_bookable                       0
cancellation_policy                    0
require_guest_phone_verification       0
reviews_per_month                      0
dtype: int64

In [59]:
cleaned_listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 59 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   name                              3818 non-null   object
 2   host_id                           3818 non-null   int64
 3   host_name                         3816 non-null   object
 4   host_since                        3816 non-null   datetime64[ns]
 5   host_location                     3810 non-null   object
 6   host_response_time                3295 non-null   object
 7   host_response_rate                3818 non-null   float64
 8   host_acceptance_rate              3818 non-null   float64
 9   host_is_superhost                 3818 non-null   object
 10  host_neighbourhood                3518 non-null   object
 11  host_listings_count               3818 non-null   float64
 12  host_total_listings_count         3818 non-null   float64
 13  neighbourhood_group_cleansed      3818 non-null   object
 14  city                              3818 non-null   object
 15  state                             3818 non-null   object
 16  zipcode                           3818 non-null   object
 17  market                            3818 non-null   object
 18  smart_location                    3818 non-null   object
 19  country                           3818 non-null   object
 20  latitude                          3818 non-null   float64
 21  longitude                         3818 non-null   float64
 22  property_type                     3817 non-null   object
 23  room_type                         3818 non-null   object
 24  accommodates                      3818 non-null   int64
 25  bathrooms                         3818 non-null   float64
 26  bedrooms                          3818 non-null   float64
 27  beds                              3818 non-null   float64
 28  bed_type                          3818 non-null   object
 29  price                             3818 non-null   float64
 30  weekly_price                      2009 non-null   float64
 31  monthly_price                     1517 non-null   float64
 32  security_deposit                  1866 non-null   float64
 33  cleaning_fee                      3818 non-null   float64
 34  guests_included                   3818 non-null   int64
 35  extra_people                      3818 non-null   float64
 36  minimum_nights                    3818 non-null   int64
 37  maximum_nights                    3818 non-null   int64
 38  calendar_updated                  3818 non-null   object
 39  has_availability                  3818 non-null   object
 40  availability_30                   3818 non-null   int64
 41  availability_60                   3818 non-null   int64
 42  availability_90                   3818 non-null   int64
 43  availability_365                  3818 non-null   int64
 44  number_of_reviews                 3818 non-null   int64
 45  first_review                      3191 non-null   datetime64[ns]
 46  last_review                       3191 non-null   datetime64[ns]
 47  review_scores_rating              3818 non-null   float64
 48  review_scores_accuracy            3818 non-null   float64
 49  review_scores_cleanliness         3818 non-null   float64
 50  review_scores_checkin             3818 non-null   float64
 51  review_scores_communication       3818 non-null   float64
 52  review_scores_location            3818 non-null   float64
 53  review_scores_value               3818 non-null   float64
 54  requires_license                  3818 non-null   object
 55  instant_bookable                  3818 non-null   object
 56  cancellation_policy               3818 non-null   object
 57  require_guest_phone_verification  3818 non-null   object
 58  reviews_per_month                 3818 non-null   float64
dtypes: datetime64[ns](3), float64(23), int64(11), object(22)
memory usage: 1.7+ MB

In [60]:
#Checking to see if there are non-digits in the zipcode column to covert from an object to a numberical dtype
if (cleaned_listings_df['zipcode'].astype(str).str.isdigit()).all():
    cleaned_listings_df['zipcode'] = cleaned_listings_df['zipcode'].astype(int)
else:
    print("Not all values in the column are digits.")

Not all values in the column are digits.

In [61]:
#Convert all non-numerical values to a null value to convert to a numerical dtype
cleaned_listings_df['zipcode'] = pd.to_numeric(cleaned_listings_df['zipcode'], errors='coerce')

In [62]:
#Seeing if the dtype changed
cleaned_listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 59 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   name                              3818 non-null   object
 2   host_id                           3818 non-null   int64
 3   host_name                         3816 non-null   object
 4   host_since                        3816 non-null   datetime64[ns]
 5   host_location                     3810 non-null   object
 6   host_response_time                3295 non-null   object
 7   host_response_rate                3818 non-null   float64
 8   host_acceptance_rate              3818 non-null   float64
 9   host_is_superhost                 3818 non-null   object
 10  host_neighbourhood                3518 non-null   object
 11  host_listings_count               3818 non-null   float64
 12  host_total_listings_count         3818 non-null   float64
 13  neighbourhood_group_cleansed      3818 non-null   object
 14  city                              3818 non-null   object
 15  state                             3818 non-null   object
 16  zipcode                           3817 non-null   float64
 17  market                            3818 non-null   object
 18  smart_location                    3818 non-null   object
 19  country                           3818 non-null   object
 20  latitude                          3818 non-null   float64
 21  longitude                         3818 non-null   float64
 22  property_type                     3817 non-null   object
 23  room_type                         3818 non-null   object
 24  accommodates                      3818 non-null   int64
 25  bathrooms                         3818 non-null   float64
 26  bedrooms                          3818 non-null   float64
 27  beds                              3818 non-null   float64
 28  bed_type                          3818 non-null   object
 29  price                             3818 non-null   float64
 30  weekly_price                      2009 non-null   float64
 31  monthly_price                     1517 non-null   float64
 32  security_deposit                  1866 non-null   float64
 33  cleaning_fee                      3818 non-null   float64
 34  guests_included                   3818 non-null   int64
 35  extra_people                      3818 non-null   float64
 36  minimum_nights                    3818 non-null   int64
 37  maximum_nights                    3818 non-null   int64
 38  calendar_updated                  3818 non-null   object
 39  has_availability                  3818 non-null   object
 40  availability_30                   3818 non-null   int64
 41  availability_60                   3818 non-null   int64
 42  availability_90                   3818 non-null   int64
 43  availability_365                  3818 non-null   int64
 44  number_of_reviews                 3818 non-null   int64
 45  first_review                      3191 non-null   datetime64[ns]
 46  last_review                       3191 non-null   datetime64[ns]
 47  review_scores_rating              3818 non-null   float64
 48  review_scores_accuracy            3818 non-null   float64
 49  review_scores_cleanliness         3818 non-null   float64
 50  review_scores_checkin             3818 non-null   float64
 51  review_scores_communication       3818 non-null   float64
 52  review_scores_location            3818 non-null   float64
 53  review_scores_value               3818 non-null   float64
 54  requires_license                  3818 non-null   object
 55  instant_bookable                  3818 non-null   object
 56  cancellation_policy               3818 non-null   object
 57  require_guest_phone_verification  3818 non-null   object
 58  reviews_per_month                 3818 non-null   float64
dtypes: datetime64[ns](3), float64(24), int64(11), object(21)
memory usage: 1.7+ MB

In [63]:
# Summary of the null values after filling in the nulls - zipcode now has 1 null value
cleaned_listings_df.isnull().sum()

id                                     0
name                                   0
host_id                                0
host_name                              2
host_since                             2
host_location                          8
host_response_time                   523
host_response_rate                     0
host_acceptance_rate                   0
host_is_superhost                      0
host_neighbourhood                   300
host_listings_count                    0
host_total_listings_count              0
neighbourhood_group_cleansed           0
city                                   0
state                                  0
zipcode                                1
market                                 0
smart_location                         0
country                                0
latitude                               0
longitude                              0
property_type                          1
room_type                              0
accommodates                           0
bathrooms                              0
bedrooms                               0
beds                                   0
bed_type                               0
price                                  0
weekly_price                        1809
monthly_price                       2301
security_deposit                    1952
cleaning_fee                           0
guests_included                        0
extra_people                           0
minimum_nights                         0
maximum_nights                         0
calendar_updated                       0
has_availability                       0
availability_30                        0
availability_60                        0
availability_90                        0
availability_365                       0
number_of_reviews                      0
first_review                         627
last_review                          627
review_scores_rating                   0
review_scores_accuracy                 0
review_scores_cleanliness              0
review_scores_checkin                  0
review_scores_communication            0
review_scores_location                 0
review_scores_value                    0
requires_license                       0
instant_bookable                       0
cancellation_policy                    0
require_guest_phone_verification       0
reviews_per_month                      0
dtype: int64

In [64]:
#Fill in nulls using the ffill option
cleaned_listings_df["zipcode"].fillna(method ='ffill', inplace = True)

In [65]:
#Convert it from a float to an integer
cleaned_listings_df['zipcode'] = cleaned_listings_df['zipcode'].astype(int)

In [78]:
#Fill in nulls with ffill
cleaned_listings_df["property_type"].fillna(method ='ffill', inplace = True)

In [79]:
#Making sure property_type's 1 null was filled in
cleaned_listings_df.isnull().sum()

id                                     0
name                                   0
host_id                                0
host_name                              2
host_since                             2
host_location                          8
host_response_time                   523
host_response_rate                     0
host_acceptance_rate                   0
host_is_superhost                      0
host_neighbourhood                   300
host_listings_count                    0
host_total_listings_count              0
neighbourhood_group_cleansed           0
city                                   0
state                                  0
zipcode                                0
market                                 0
smart_location                         0
country                                0
latitude                               0
longitude                              0
property_type                          0
room_type                              0
accommodates                           0
bathrooms                              0
bedrooms                               0
beds                                   0
bed_type                               0
price                                  0
weekly_price                        1809
monthly_price                       2301
security_deposit                    1952
cleaning_fee                           0
guests_included                        0
extra_people                           0
minimum_nights                         0
maximum_nights                         0
calendar_updated                       0
has_availability                       0
availability_30                        0
availability_60                        0
availability_90                        0
availability_365                       0
number_of_reviews                      0
first_review                         627
last_review                          627
review_scores_rating                   0
review_scores_accuracy                 0
review_scores_cleanliness              0
review_scores_checkin                  0
review_scores_communication            0
review_scores_location                 0
review_scores_value                    0
requires_license                       0
instant_bookable                       0
cancellation_policy                    0
require_guest_phone_verification       0
reviews_per_month                      0
dtype: int64

In [80]:
cleaned_listings_df.head(10)

,id,name,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,instant_bookable,cancellation_policy,require_guest_phone_verification,reviews_per_month
0,241032,Stylish Queen Anne Apartment,956883,Maija,2011-08-11,"Seattle, Washington, United States",within a few hours,96.000000,100.000000,0,...,10.000000,10.000000,10.000000,9.000000,10.000000,f,0,moderate,f,4.070000
1,953595,Bright & Airy Queen Anne Apartment,5177328,Andrea,2013-02-21,"Seattle, Washington, United States",within an hour,98.000000,100.000000,1,...,10.000000,10.000000,10.000000,10.000000,10.000000,f,0,strict,t,1.480000
2,3308979,New Modern House-Amazing water view,16708587,Jill,2014-06-12,"Seattle, Washington, United States",within a few hours,67.000000,100.000000,0,...,10.000000,10.000000,10.000000,10.000000,10.000000,f,0,strict,f,1.150000
3,7421966,Queen Anne Chateau,9851441,Emily,2013-11-06,"Seattle, Washington, United States",NaN,94.886798,99.967159,0,...,9.556398,9.786709,9.809599,9.608916,9.452245,f,0,flexible,f,2.078919
4,278830,Charming craftsman 3 bdm house,1452570,Emily,2011-11-29,"Seattle, Washington, United States",within an hour,100.000000,99.967159,0,...,9.000000,10.000000,10.000000,9.000000,9.000000,f,0,strict,f,0.890000
5,5956968,Private unit in a 1920s mansion,326758,Andrew,2010-12-25,"Seattle, Washington, United States",NaN,94.886798,99.967159,0,...,10.000000,10.000000,10.000000,10.000000,10.000000,f,0,strict,f,2.450000
6,1909058,Queen Anne Private Bed and Bath,2497928,Gary And Beth,2012-05-30,"Seattle, Washington, United States",within an hour,100.000000,100.000000,1,...,10.000000,10.000000,10.000000,10.000000,10.000000,f,0,moderate,f,2.460000
7,856550,Tiny Garden cabin on Queen Anne,4016632,Jean-Marc,2012-10-30,"Seattle, Washington, United States",within an hour,100.000000,100.000000,1,...,10.000000,10.000000,10.000000,9.000000,10.000000,f,0,strict,t,4.730000
8,4948745,Urban Charm || Downtown || Views,2166277,Aliza,2012-04-18,"Seattle, Washington, United States",NaN,94.886798,100.000000,0,...,9.000000,10.000000,9.000000,10.000000,10.000000,f,0,strict,f,1.220000
9,2493658,Airy + Bright Queen Anne Apartment,5177328,Andrea,2013-02-21,"Seattle, Washington, United States",within an hour,98.000000,100.000000,1,...,10.000000,10.000000,10.000000,10.000000,9.000000,f,0,strict,t,1.550000

In [67]:
#Convert host_is_superhost from T/F, to 0/1
cleaned_listings_df['host_is_superhost'] = cleaned_listings_df['host_is_superhost'].map({'t': 1, 'f': 0})

In [69]:
#Convert has_availability from T/F, to 0/1
cleaned_listings_df['has_availability'] = cleaned_listings_df['has_availability'].map({'t': 1, 'f': 0})

In [70]:
#Convert instant_bookable from T/F, to 0/1
cleaned_listings_df['instant_bookable'] = cleaned_listings_df['instant_bookable'].map({'t': 1, 'f': 0})

In [72]:
#Making things transferred appropriately
cleaned_listings_df.head(5)

,id,name,host_id,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,instant_bookable,cancellation_policy,require_guest_phone_verification,reviews_per_month
0,241032,Stylish Queen Anne Apartment,956883,Maija,2011-08-11,"Seattle, Washington, United States",within a few hours,96.000000,100.000000,0,...,10.000000,10.000000,10.000000,9.000000,10.000000,f,0,moderate,f,4.070000
1,953595,Bright & Airy Queen Anne Apartment,5177328,Andrea,2013-02-21,"Seattle, Washington, United States",within an hour,98.000000,100.000000,1,...,10.000000,10.000000,10.000000,10.000000,10.000000,f,0,strict,t,1.480000
2,3308979,New Modern House-Amazing water view,16708587,Jill,2014-06-12,"Seattle, Washington, United States",within a few hours,67.000000,100.000000,0,...,10.000000,10.000000,10.000000,10.000000,10.000000,f,0,strict,f,1.150000
3,7421966,Queen Anne Chateau,9851441,Emily,2013-11-06,"Seattle, Washington, United States",NaN,94.886798,99.967159,0,...,9.556398,9.786709,9.809599,9.608916,9.452245,f,0,flexible,f,2.078919
4,278830,Charming craftsman 3 bdm house,1452570,Emily,2011-11-29,"Seattle, Washington, United States",within an hour,100.000000,99.967159,0,...,9.000000,10.000000,10.000000,9.000000,9.000000,f,0,strict,f,0.890000

In [81]:
#Seeing if the dtype changed
cleaned_listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 59 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   name                              3818 non-null   object
 2   host_id                           3818 non-null   int64
 3   host_name                         3816 non-null   object
 4   host_since                        3816 non-null   datetime64[ns]
 5   host_location                     3810 non-null   object
 6   host_response_time                3295 non-null   object
 7   host_response_rate                3818 non-null   float64
 8   host_acceptance_rate              3818 non-null   float64
 9   host_is_superhost                 3818 non-null   int64
 10  host_neighbourhood                3518 non-null   object
 11  host_listings_count               3818 non-null   float64
 12  host_total_listings_count         3818 non-null   float64
 13  neighbourhood_group_cleansed      3818 non-null   object
 14  city                              3818 non-null   object
 15  state                             3818 non-null   object
 16  zipcode                           3818 non-null   int64
 17  market                            3818 non-null   object
 18  smart_location                    3818 non-null   object
 19  country                           3818 non-null   object
 20  latitude                          3818 non-null   float64
 21  longitude                         3818 non-null   float64
 22  property_type                     3818 non-null   object
 23  room_type                         3818 non-null   object
 24  accommodates                      3818 non-null   int64
 25  bathrooms                         3818 non-null   float64
 26  bedrooms                          3818 non-null   float64
 27  beds                              3818 non-null   float64
 28  bed_type                          3818 non-null   object
 29  price                             3818 non-null   float64
 30  weekly_price                      2009 non-null   float64
 31  monthly_price                     1517 non-null   float64
 32  security_deposit                  1866 non-null   float64
 33  cleaning_fee                      3818 non-null   float64
 34  guests_included                   3818 non-null   int64
 35  extra_people                      3818 non-null   float64
 36  minimum_nights                    3818 non-null   int64
 37  maximum_nights                    3818 non-null   int64
 38  calendar_updated                  3818 non-null   object
 39  has_availability                  3818 non-null   int64
 40  availability_30                   3818 non-null   int64
 41  availability_60                   3818 non-null   int64
 42  availability_90                   3818 non-null   int64
 43  availability_365                  3818 non-null   int64
 44  number_of_reviews                 3818 non-null   int64
 45  first_review                      3191 non-null   datetime64[ns]
 46  last_review                       3191 non-null   datetime64[ns]
 47  review_scores_rating              3818 non-null   float64
 48  review_scores_accuracy            3818 non-null   float64
 49  review_scores_cleanliness         3818 non-null   float64
 50  review_scores_checkin             3818 non-null   float64
 51  review_scores_communication       3818 non-null   float64
 52  review_scores_location            3818 non-null   float64
 53  review_scores_value               3818 non-null   float64
 54  requires_license                  3818 non-null   object
 55  instant_bookable                  3818 non-null   int64
 56  cancellation_policy               3818 non-null   object
 57  require_guest_phone_verification  3818 non-null   object
 58  reviews_per_month                 3818 non-null   float64
dtypes: datetime64[ns](3), float64(23), int64(15), object(18)
memory usage: 1.7+ MB

In [82]:
# Export the DataFrame as a CSV file using encoding='utf8'.
output_data_file = 'cleaned_airbnb_data.csv'
# Create a CSV file by using the clean_hotel_df DataFrame
cleaned_listings_df.to_csv('cleaned_airbnb_data.csv', encoding='utf8', index=False)